<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/src/icon/user.png" type="image/x-icon">
    <link rel="stylesheet" href="/App/src/style/app.css">
    <link rel="stylesheet" href="/App/src/scss/bar_app.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <title>Login</title>
</head>

<body>
 <div class="mobile-wrapper">
  <div class="mobile">
    <div class="photo"></div>
    <div class="screen">
      <div id="os-header" class="os-header">
        <div class="notch-left">
          <i class="fad fa-signal-4"></i>
          <i class="fad fa-flask-potion"></i>
        </div>

        <div class="notch-right">
          <i class="far fa-battery-half"></i>
          <span id="time" class="hour"></span>
        </div>
      </div>
      <div id="header" class="header">
        <div class="navbar">
          <button type="button" id="nav-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </button>

          <div class="logo">
            GoodFood
          </div>

          <button class="user" type="button">
            <img src="https://avatars.githubusercontent.com/u/85834483?v=4"/>
          </button>
      </div>
    </div>
      
      <div id="aside" class="aside">
          <ul>
            <li><i class="fad fa-jack-o-lantern"></i>?</li>
            <li><i class="fad fa-alicorn"></i> ?</li>
            <li><i class="fad fa-rocket"></i> ?</li>
            <li><i class="fad fa-user-headset"></i>?</li>
        </ul>
      </div>

    <div id="content" class="content">
      <span class="block-title"></span>
      <span class="block-text"></span>
     
      <span class="block-text semi"></span>
      <span class="block-text semi"></span>
      <span class="block-text"></span>
      
      <span class="block-title"></span>
      <span class="block-text"></span>
      <span class="block-text"></span>
      
      <span class="block-title"></span>
      <span class="block-text"></span>
     
      <span class="block-text semi"></span>
      <span class="block-text semi"></span>
      <span class="block-text"></span>
      
      <span class="block-title"></span>
      <span class="block-text"></span>
      <span class="block-text"></span>
      
      
    </div>

          <div class="footer">
            <ul>
                <li>
                    <button class="active" type="button"><i class="far fa-home-lg-alt"></i>Home</button>
                </li>
                <li>
                    <button type="button"><i class="far fa-search"></i>Search</button>
                </li>
                <li>
                    <button class="notification" data-notification="1" type="button"><i
                            class="far fa-bell"></i>Notification</button>
                </li>
                <li>
                    <button type="button"><i class="far fa-address-book"></i>Messages</button>
                </li>
            </ul>
        </div>
  </div>
</div>
</div>




</body>

</html>
