<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/src/icon/user.png" type="image/x-icon">
    <link rel="stylesheet" href="/App/src/style/app.css">
    <link rel="stylesheet" href="/App/src/scss/bar_app.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <title>Login</title>
</head>

<body>
    <div class="wrap-mobile">
        <div class="container">
        </div>
        <div id="header" class="header">
            <div class="navbar">
                <button type="button" id="nav-toggle" class="nav-toggle">
                         <span></span>
                         <span></span>
                         <span></span>
                    </button>

                <div class="logo">
                    GoodFood
                </div>

                <button class="user" type="button">
                         <img src="/App/src/img/image (34) (2).png" />
                    </button>
            </div>
        </div>

        <div id="aside" class="aside">
            <ul>
                <li><i class="fad fa-jack-o-lantern"></i>?</li>
                <li><i class="fad fa-alicorn"></i> ?</li>
                <li><i class="fad fa-rocket"></i> ?</li>
                <li><i class="fad fa-user-headset"></i>?</li>
            </ul>
        </div>

        <div class="footer">
            <ul>
                <li>
                    <button class="button" type="button"><i class="far fa-home-lg-alt"></i>Home</button>
                </li>
                <li>
                    <button type="button"><i class="far fa-search"></i>Search</button>
                </li>
                <li>
                    <button class="button" type="button"><i class="fi fi-rr-list"></i>Notification</button>
                </li>
                <li>
                    <button class="active" type="button" data-notification="5"><i
                                   class="fi fi-sr-user"></i>Messages</button>
                </li>
            </ul>
        </div>

    </div>
    </div>
    </div>

</body>
<script href="/App/src/script/style.js"></script>

</html>