<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="principal_estilo.css">
</head>
<body>
    <div class="sup">
        <div class="goodfoodlogo"><img src="goodfood.png"></div>
    </div>
   
    <div class="rodape">
        
        <div class="botao_cadastro">
            <button><b><i>Fazer cadastro</i></b></button>
        </div>
        
        <div class="botao_login">
            <button><b><i>Fazer login</i></b></button>
        </div>
                
        
        <div class="botao_google">
            <button><i><b>Continuar com o Google</i></b></button>
        </div>
    
    </div>
</body>
</html>