<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/App/src/style/principal_estilo.css">
    <link rel="stylesheet" href="/App/src/scss/bar_app.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <title>Login</title>

    <link rel="stylesheet" href="principal_estilo.css">
</head>

<body>
    <div class="wrap-mobile">
        <div class="sup">
            <div class="goodfoodlogo"><img src="goodfood.png"></div>
        </div>

        <div class="rodape">

            <div class="botao_cadastro">
                <button><b><i>Fazer cadastro</i></b></button>
            </div>

            <div class="botao_login">
                <button><b><i>Fazer login</i></b></button>
            </div>


            <div class="botao_google">
                <button><i><b>Continuar com o Google</i></b></button>
            </div>

        </div>
    </div>

</body>

</html>
