<div class="mobile-wrapper">
    <div class="mobile">
        <div class="photo"></div>
        <div class="screen">
            <div id="os-header" class="os-header">
                <div class="notch-left">
                    <i class="fad fa-signal-4"></i>
                    <i class="fad fa-flask-potion"></i>
                </div>

                <div class="notch-right">
                    <i class="far fa-battery-half"></i>
                    <span id="time" class="hour"></span>
                </div>
            </div>
            <div id="header" class="header">
                <div class="navbar">
                    <button type="button" id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </button>

                    <form class="search-container" action="//llamaswill.tumblr.com/search">
                        <input id="search-box" type="text" class="search-box" name="q" />
                        <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                        <input type="submit" id="search-submit" />
                    </form>

                </div>
            </div>

            <div id="aside" class="aside">
                <ul>
                    <li><i class="fi fi-sr-shopping-cart"></i>Mercado</li>
                    <li><i class="fi fi-sr-medicine"></i> Farmacia</li>
                    <li><i class="fi fi-rr-restaurant"></i> Famosos no GoodFood</li>
                    <li><i class="fad fa-user-headset"></i>SAC</li>
                </ul>
            </div>

            <div id="content" class="content">

                <span class="block-text semi"> 
                    <img class="MID" src="https://images.pexels.com/photos/1639565/pexels-photo-1639565.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  />
          </span>
                <span class="block-text semi"> <img class="MID" src="https://images.pexels.com/photos/1603898/pexels-photo-1603898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  />
                </span>

                <span class="block-text">      <img class="BIG" src="https://images.pexels.com/photos/884600/pexels-photo-884600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></span>
                <span class="block-text semi">
                    <img class="MID" src="https://images.pexels.com/photos/4958773/pexels-photo-4958773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  />
                </span>

                <span class="block-text semi"><img class="MID" src="https://images.pexels.com/photos/10563268/pexels-photo-10563268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  />
                </span>
                <span class="block-text "><img class="BIG" src="https://images.pexels.com/photos/3915857/pexels-photo-3915857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>

                <span class="block-text"><img class="BIG" src="https://images.pexels.com/photos/7655125/pexels-photo-7655125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>

                <span class="block-text semi"><img class="MID" src="https://images.pexels.com/photos/461431/pexels-photo-461431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>
                <span class="block-text semi"><img class="MID" src="https://images.pexels.com/photos/552535/pexels-photo-552535.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>
                <span class="block-text"><img class="BIG" src="https://images.pexels.com/photos/1267682/pexels-photo-1267682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>
                <span class="block-text"><img class="BIG" src="https://images.pexels.com/photos/3683056/pexels-photo-3683056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""  /></span>
                <span class="block-title"></span>




            </div>

            <div class="footer">
                <ul>
                    <li>
                        <button class="button" type="button"><i class="far fa-home-lg-alt"></i>Home</button>
                    </li>
                    <li>
                        <button class="active" type="button"><i class="far fa-search"></i>Search</button>
                    </li>
                    <li>
                        <button type="button"><i class="fi fi-rr-list"></i>AreaCd</button>
                    </li>
                    <li>
                        <button type="button" data-notification="5"><i class="fi fi-sr-user"></i>Messages</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>






<script>
    // Function for scrolling header

    function scrollHeader() {
        var header = document.getElementById('header'),
            headerHeight = header.offsetHeight, // Header height
            content = document.getElementById('content'),
            previousScroll = content.scrollTop; // Get onload Scrolling

        content.onscroll = function() {
            currentScroll = content.scrollTop; // Get the current scrolling position

            // Hide the header only if the header height is scroll
            if (currentScroll > headerHeight) {
                if (currentScroll > previousScroll) {
                    header.style.transform = 'translateY(-' + headerHeight + 'px)'; // Hide header
                } else {
                    header.style.transform = 'translateY(0)'; // Show header
                }
            }
            previousScroll = currentScroll;
        };
    }
    scrollHeader(); //init function


    // Function to toggle the menu 

    function toggleMenu() {
        var navToggle = document.getElementById('nav-toggle');

        navToggle.onclick = function() {
            document.body.classList.toggle("open");
        };
    }
    toggleMenu(); // init function

    // Function for real clock

    function updateClock() {
        var now = new Date(), // current date
            time = now.getHours() + ':' + now.getMinutes(),
            target = document.getElementById('time');

        // set the content of the element with the ID time to the formatted string
        target.innerHTML = [time];

        // call this function again in 1000ms
        setTimeout(updateClock, 1000);
    }
    updateClock(); // init function
</script>


</body>


</html>
