<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/App/src/style/tela_inicio.css">
    <title>Tela Inicio</title>

    <link rel="stylesheet" href="tela_inicio.css">
</head>
<body>
    <div class="detalhe"></div>
    
    <div class="inicio_pag2">
        <div class="botao_restaurante">
            <i>Restaurantes</i>
        </div>
        <div class="botao_farmacia">
            <i>Farmácia</i>
        </div>
        <div class="botao_mercado">
           <i>Mercado</i>
        </div>
    </div>

    <div class="parceria">
        <div class="parceria_texto">Parceria com</div>
        <div class="coffedev"></div>
        <div class="img_parceria"></div>
    </div>

    <div class="entrega">
        <div id="entrega_casa">No conforto de casa</div>
        <div id="entrega_retirada">Retirada no local</div>
    </div>
   
    <div class="tipo_comida">
        <div id="sushi"><img src="sushi (2).png"></div>
        <div id="bebida"><img src="bebida.png"></div>
        <div id="lanche"><img src="lanche.png"</div>
    </div>
    
    <div class="opcoes">
        <div id="texto_opcoes">
           Melhores opções
        </div>
        <div class="opcao1e2">
            <div id="opcao1"><img src="bubble.mis.png" width="180px" height="130px" ></div>
            <div id="opcao2"><img src="jeronimo.png" width="180px" height="67px"></div>
        </div>
        <div class="opcao3e4">
            <div id="opcao3"><img src="fornao.png" width="180px" height="130px"></div>
            <div id="opcao4"><img src="sushiroll.png" width="180px" height="42px"></div>
        </div>
        
    </div>
    
    <div>

    </div>

</body>
</html>
