@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap');
body {
    background-color: #FFFDED;
}

.wrap-mobile {
    margin: auto;
    width: 400px;
    height: 796px;
    overflow: hidden;
    position: relative;
    background-color: #FDF9DA;
    /* background-image: url('/App/src/img/image\ \(9\).png'); */
    background-size: 400px 796px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.sup {
    margin: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botao_cadastro button {
    margin-top: 50px;
    background-color: #FBEF85;
    border-radius: 10px;
    border: solid #FBEF85;
    width: 272px;
    height: 62px;
    font-family: 'work sans', sans-serif;
    font-size: 20px;
}

.botao_login button {
    color: black;
    background-color: #FDF9DA;
    border-radius: 10px;
    width: 272px;
    height: 62px;
    font-family: 'work sans', sans-serif;
    font-size: 20px;
    border: solid #FBEF85;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.botao_google button {
    border: none;
    font-size: 15px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-family: 'work sans', sans-serif;
    background-color: #FF7769;
    margin-top: 50px;
}