    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap');
    body {
        background-color: #FFFDED;
    }
    
    .wrap-mobile {
        border-radius: 20px;
        width: 300px;
        height: 700px;
        background: url('/App/src/img/pngwing.com.png') no-repeat center center #FDF9DA;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    
    .sup {
        margin: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        margin-right: 50px;
        display: grid;
        justify-content: center;
        color: black;
        width: 100px;
    }
    
    .rodape {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .botao_cadastro button {
        margin-top: 0px;
        background-color: #FBEF85;
        border-radius: 10px;
        border: solid #FBEF85;
        width: 272px;
        height: 62px;
        font-family: 'work sans', sans-serif;
        font-size: 20px;
    }
    
    .botao_login button {
        color: black;
        background-color: #FDF9DA;
        border-radius: 10px;
        width: 272px;
        height: 62px;
        font-family: 'work sans', sans-serif;
        font-size: 20px;
        border: solid #FBEF85;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .botao_google button {
        border: none;
        font-size: 15px;
        width: 280px;
        height: 40px;
        border-radius: 5px;
        color: black;
        font-family: 'work sans', sans-serif;
        background-color: #FF7769;
    }
