html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --bgColorMenu: #1d1d27;
  --duration: .7s;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1eed1;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color var(--duration);
  transition: background-color var(--duration);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(48, 29, 32, 0.2);
          box-shadow: 0 0 5px rgba(48, 29, 32, 0.2);
  z-index: 5;
}

.footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer ul li {
  width: 100%;
}

.footer ul li button {
  width: 100%;
  background: transparent;
  padding: 20px 0;
  border: none;
  font-size: 0px;
  outline: none;
  position: relative;
}

.footer ul li button.active i {
  color: #575757;
  font-weight: bold;
}

.footer ul li button.notification i {
  color: #338af0;
  font-weight: bold;
}

.footer ul li button.notification:before {
  content: attr(data-notification);
  font-size: 10px;
  position: absolute;
  top: 20%;
  right: 20%;
  display: block;
  color: #338af0;
  font-weight: bold;
  width: 15px;
  text-align: left;
}

.footer ul li button i {
  color: #d2d2d2;
  font-size: 20px;
}

body.open .mobile-wrapper .mobile .screen .header .navbar .nav-toggle span:nth-child(1) {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 50%;
  top: 50%;
}

body.open .mobile-wrapper .mobile .screen .header .navbar .nav-toggle span:nth-child(3) {
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 50%;
  bottom: 50%;
}

body.open .mobile-wrapper .mobile .screen .aside {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body.open .mobile-wrapper .mobile .screen .aside ul li {
  -webkit-animation: fadeInLeft ease 500ms;
          animation: fadeInLeft ease 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

body.open .mobile-wrapper .mobile .screen .aside ul li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

body.open .mobile-wrapper .mobile .screen .aside ul li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

body.open .mobile-wrapper .mobile .screen .aside ul li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

body.open .mobile-wrapper .mobile .screen .aside ul li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=bar_app.css.map */