    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;1,200&display=swap');
    body {
        background-color: #FFFDED;
    }
    
    .wrap-mobile {
        border-radius: 20px;
        width: 300px;
        height: 700px;
        background: white;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    
    .wrap-mobile-main {
        border-radius: 20px;
        width: 300px;
        height: 700px;
        background: url('/src/img/pngwing.com.png') no-repeat center center #FDF9DA;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    
    .area {
       background: linear-gradient(90deg, rgba(219,193,112,1) 0%, rgba(204,187,53,1) 46%, rgba(169,175,91,1) 100%);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .info h4,
    h3 {
        position: absolute;
        width: 164px;
        height: 18px;
        align-items: center;
        top: 140px;
        font-family: 'Work Sans' sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    
    .username {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
    }
    
    .username-email {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 41px;
        text-align: center;
    }
    
    .container {
        display: table;
        text-align: center;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .right {
        width: 60%;
    }
    
    .fa {
        display: inline-block;
    }
    
    .image {
        display: flex;
        margin: 15px;
        border-radius: 50%;
    }
    
    .guia {
        margin-left: 10px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 21px;
    }
    
    .guia h4 {
        margin-left: 15px;
        margin-right: 210px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 20px;
        cursor: pointer;
    }
    
    .sup {
        margin: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .glogo {
        margin-right: 50px;
        display: grid;
        justify-content: center;
        color: black;
        width: 100px;
    }
    
    .rodape {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .botao_cadastro button {
        margin-top: 0px;
        background-color: #FBEF85;
        border-radius: 10px;
        border: solid #FBEF85;
        width: 272px;
        height: 62px;
        font-family: 'work sans', sans-serif;
        font-size: 20px;
    }
    
    .botao_login button {
        color: black;
        background-color: #FDF9DA;
        border-radius: 10px;
        width: 272px;
        height: 62px;
        font-family: 'work sans', sans-serif;
        font-size: 20px;
        border: solid #FBEF85;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .botao_google button {
        border: none;
        font-size: 15px;
        width: 280px;
        height: 40px;
        border-radius: 5px;
        color: black;
        font-family: 'work sans', sans-serif;
        background-color: #FF7769;
    }
    
    .detalhe {
        background: linear-gradient(90deg, rgba(219,193,112,1) 0%, rgba(204,187,53,1) 46%, rgba(169,175,91,1) 100%);
     
        width: 300px;
        height: 15px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .inicio_pag2 {
        display: flex;
        flex-direction: row;
        margin: 10px;
        border: none;
        justify-items: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
        justify-content: space-evenly;
        gap: 20px;
    }
    
    .botao_restaurante {
        text-decoration: underline;
    }
    
    .entrega {
        margin: 1em;
        margin-top: 20px;
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .entrega #entrega_casa {
        border: solid #FBEF85;
        background: #FBEF85;
        border-radius: 8px;
        width: 130px;
        height: 20px;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
    }
    
    .entrega #entrega_retirada {
        border: solid #FBEF85;
        background: #FBEF85;
        border-radius: 8px;
        width: 130px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    
    .opcoes {
        margin-top: 2em;
    }
    
    #texto_opcoes {
        margin-left: 10px;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
    }
    
    .opcao1e2 {
        margin: 1em 10px 10px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }
    
    .opcao1e2 #opcao1 {
        border: 2px solid black;
        width: 146px;
        height: 102px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .opcao1e2 #opcao2 {
        border: 2px solid black;
        width: 146px;
        height: 102px;
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .opcao3e4 {
        margin: 10px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
    .opcao3e4 #opcao3 {
        border: 2px solid black;
        width: 146px;
        height: 102px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .opcao3e4 #opcao4 {
        border: 2px solid black;
        width: 146px;
        height: 102px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }