@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');

body{
    background-color: #FFFDED;
}
.detalhe{
    border: solid #EB6767;
    background-color: #EB6767;
    border-radius: 20px;
    width: 250px;
    height: 15px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
}
.inicio_pag2{
    display: flex;
    flex-direction: row;
    margin: 30px;
    border: none;
    justify-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 20px;
}
.botao_restaurante{
    text-decoration: underline;
}

.parceria{
    border: 1px solid #57420D;
    background-color: #F3D381;
    border-radius: 10px;
    height: 150px;
}
.parceria_texto{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    margin: 20px;
}
.entrega{
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.entrega #entrega_casa{
    border: solid #FBEF85;
    background: #FBEF85;
    border-radius: 10px;
    width: 150px;
    height: 20px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}
.entrega #entrega_retirada{
    border: solid #FBEF85;
    background: #FBEF85;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.tipo_comida{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.tipo_comida #sushi{
    width: 80px;
    height: 20px;
}
.tipo_comida #bebida{
    width: 80px;
    height: 20px;
}
.tipo_comida #lanche{
    width: 80px;
    height: 20px;
}
.opcoes{
    margin-top: 70px;
}
#texto_opcoes{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.opcao1e2{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
   align-items: center;
}
.opcao1e2 #opcao1{
    border: 2px solid black;
    width: 186px;
    height: 132px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opcao1e2 #opcao2{
    border: 2px solid black;
    width: 186px;
    height: 132px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opcao3e4{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.opcao3e4 #opcao3{
    border: 2px solid black;
    width: 186px;
    height: 132px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opcao3e4 #opcao4{
    border: 2px solid black;
    width: 186px;
    height: 132px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}